

<div class="container">
    <!-- Content here -->
    <div class="jumbotron">
        <img src="./images/burger.png" alt="burger image" width="200" height="150">
        <h1 class="display-4">Eat Da Burger!</h1>
        
        <p class="lead">Burger logger with MySQL, Node, Express, Handlebars and a homemade ORM.</p>
        <hr class="my-4">

    </div>
    <div class="row">
        <div class="col-md-6 ">
            <h3 class="about">To Eat List</h3>
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <div>
                        {{this.id}}. {{this.burger_name}} <button type="button" id="devourIt" class="btn btn-success">Devour It!</button>
                    </div>
                    {{/if}}
                    {{/each}}
                </ul>
                
        </div>
        <div class="col-md-6 ">
            <h3 class="about">Already Eaten List</h3>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    {{this.id}}. {{this.burger_name}}
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>


<form class="create-form">

    <div class="form-group">
        
        <input type="text" id="burgername" name="name">
    </div>

    
    <button id="addBurger" type="button">Add A Burger</button>
</form>